*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pobCardContainer{
    margin: 20px;
    height: 512px; 
    width: 420px; 
    background-color: #e4e4e4;
    border-radius: 19px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.tagNum{    
    position: absolute;
    top: 0;
    right: 35px;
    clip-path: polygon(100% 0%, 100% 100%, 50% 80%, 0 100%, 0 0);
    background: rgba(31, 31, 31, 0.75);
    line-height: 50px;
    height: 50px;
    width: 35px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    
}

.courseCover{
    border-radius: 19px 19px 0px 0px;
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.coverTitle{
    /* P */
    position: absolute;
    top: 102px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F6F6F6;
}

.bottomVectorRight{
    position: absolute;
    background: #FF9900;
    width: 100%;
    height: 70px;
    bottom: 0;
    border-radius: 0px 0px 19px 19px;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}

.recomendedText {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    left: 15px;
    bottom: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    width: 180px;
}

.cxcLogo{
    position: absolute;
    height: 35px;
    width: 43px;
    right: 19.75px;
    bottom: 10px;  
}

.bottomVectorLeft{
    position: absolute;
    background: rgba(255, 153, 0, 0.35);
    width: 100%;
    height: 70px;
    bottom: 0;
    border-radius: 0px 0px 19px 19px;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}

.priceTag{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 132px;
height: 132px;
left: 0px;
background: #1F1F1F;
border-radius: 50%;
transform: translate(-50%,calc(290px - 50%)); 
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 26px;
color: #f6f6f6;
text-transform: uppercase;
}

.price-currency{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.courseFeatures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 23%;
    padding: 10px;
    margin: 30px 0px 0px 0px;
}

.feature{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19.628px;
    line-height: 23px;
    font-weight: 400;
}

.featureIcon{
    width: 22px;
    height: 22px;
    margin-right: 15px;
}