* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #1f1f1f;
  height: 70px;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* change img to class name */
#logoImage {
  height: 30px;
  width: 30px;
}

.logoSec {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  display: none;
}

.menuSec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.navMenu {
  position: absolute;
  right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-decoration: none;
}

.navMenu li {
  color: #c5c5c5;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
}

.navMenu :hover li {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

@media only screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
  .navbar {
    background-color: #ee0e0e;
    position: relative;
  }
  .navMenu {
    background-color: #4ff0fe;
    position: absolute;
    top: 35px;
    right: 0;
    height: calc(100vh - 50px);
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hamburger {
    height: 3px;
    width: 25px;
    border-radius: 1.5px;
    background-color: #f6f6f6;
    display: block;
  }
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 1.5px;
    background-color: #f6f6f6;
  }
  .hamburger::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .hamburger::after {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  li {
    display: block;
    margin: 20px;
  }
  .navMenu {
    /* Use this to control the side bar: 40vw to 0vw*/
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }
  .navMenu-active {
    -webkit-transform: translate(300px);
            transform: translate(300px);
  }
}
/*# sourceMappingURL=Navbar.css.map */