* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .navbar {
    background-color: #1f1f1f;
    height: 70px;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
  }


  /* change img to class name */
  #logoImage {
    height: 30px;
    width: 30px;
  }
  
  .logoSec {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger{
    display: none;
  }

  .menuSec{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .navMenu{
    position: absolute;
    right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
  }

  
  .navMenu li {
    color: #c5c5c5;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
  }
  
  .navMenu :hover li{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  } 



  @media only screen and (max-width: 1024px) {
    body {
      overflow: hidden;
    }
  
    .navbar {
      background-color: #ee0e0e;
      position: relative;
    }
  
    .navMenu {
      background-color: #4ff0fe;
      position: absolute;
      top: 50px;
      right: 0;
      height: calc(100vh - 50px);
      width: 40vw;
      display: flex;
      flex-direction: column;
    }
  
    .hamburger {
      height: 3px;
      width: 25px;
      border-radius: 1.5px;
      background-color: #f6f6f6;
      display: block;
    }
    
    .hamburger::before,
    .hamburger::after{
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 1.5px;
      background-color: #f6f6f6;
    }
  
    .hamburger::before{
      transform: translateY(-7px)
    }
    
    .hamburger::after{
      transform: translateY(4px)
    }
    li {
      display: block;
      margin: 20px;
    }
  
  .navMenu{ /* Use this to control the side bar: 40vw to 0vw*/
    transform: translateX(30vw); 
  }
  
  }
  